

.inicio-view {
    margin: 0; padding: 0;
    width: 100%; height: 100%;
    
    
}
.section-1 .title {
    align-items: center;
    justify-content: center;
}
.section-1 .title h1 {
    font-size: 24px;
    font-weight: 600;
    line-height: 0.9;
}
.section-1 .title h3 {
    padding: 0.5rem 0 1rem 0;
    font-size: 18.5px;
    font-weight: 300;
    font-family: 'Archivo Narrow', sans-serif;
}
.section-1 .title .title-button-container {
    display: flex;
    width: 100%;
    margin-top: 2rem;
}
.section-1 .title .title-button-container a{
    padding: 0.5rem 1rem;
    display: flex;
    align-items: center;
    margin: 0 1rem 0 0;
    border-radius: 0.5rem;
    color: azure;
    text-decoration: none;
    font-size: 20px;
    font-weight: 500;
    background-color:rgb(54, 160, 137);
    border: none;
    
}
.section-1 .title .title-button-container a p {
    display: flex;
    align-items: center;
    margin: 0; padding: 0;
}

.section-1 {
    width: 100%; height: 100vh;
    display: flex;
    align-items: center;
}
.section-1 .img-container {
    width: 100%; height: 100%;
    padding-right: 5rem;
}
.section-1 .img-container img{
    
    width: 20rem;
    -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
    filter: grayscale(40%);
    -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 4px 10px 30px 5px rgba(0,0,0,0.75);
    
}
.section-1 .img-container img:nth-child(1n){
    position: relative;
    top: 45%;
    left: 55%;
}
.section-1 .img-container img:nth-child(2n){
    
    position: relative;
    top: -5%;
    left: 20%;
}
.section-1 .img-container img:nth-child(3n){
    position: relative;
    top: 0%;
    left: 10%;
}



.section-2 {
    width: 100%; height: 100%;
    padding: 5rem 3rem 0;
    margin-bottom: 5rem;
}
.section-2 .information-section{
    height: 100%;
    padding: 0 5rem 0 0;
    align-items: center;
    
    
}
.section-2 .information-section .item-section{
    margin-top: 3rem;
}

.section-2 .agenda-slider{
    height: 100%;
}
.section-2 .agenda-slider .agenda-title{
    
    margin-top: 3rem;
    
}
.section-2 .agenda-slider .agenda-items{
    
    margin-top: 1rem;
    
}

@media(max-width:780px){
    .section-1{
        
        flex-direction: column;
    }

    .section-1 .img-container {
        position: absolute;
        padding: 0;
        z-index: -10;
        overflow: hidden;
    }
    .section-1 .img-container .img {
        width: 16rem;
    }
    .section-1 .title {
        width: 100%; height: 100%;
        display: flex;
        flex-direction: column;
        padding-bottom: 5rem;
        text-align: center;
        padding-top: 100%;
    }
    .section-1 .title h1 {
        padding-top: 35%;
        font-family: 'Barlow Condensed', sans-serif;
        font-size: 24px;
        font-weight: 600;
        margin-bottom: 1rem;
        line-height: 1;
    }
    .section-1 .title h3 {

        font-family: 'Archivo Narrow', sans-serif;
        font-size: 18px;
        font-weight: 200;
        letter-spacing: 1px;
        line-height: 1;
        padding: 0 0.7rem;
        margin-bottom: 1rem;
    }
    .section-1 .img-container img:nth-child(1n){
        position: relative;
        top: 31%;
        left: 30%;
        
    }
    .section-1 .img-container img:nth-child(2n){
        
        position: relative;
        top: -8%;
        left: 24%;
    }
    .section-1 .img-container img:nth-child(3n){
        position: relative;
        top: -15%;
        left: 3%;
    }
    .section-1 .title .title-button-container {
        display: flex;
        flex-direction: column;
        align-items: center;

    }
    .section-1 .title .title-button-container a{
        width: 90%;
  
        margin: 0;
        margin-bottom: 1rem;
        overflow:hidden;

    }
    .section-1 .title .title-button-container a p{
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 1rem;
        margin: 0;

    }
    .section-1 .title .title-button-container {
        margin-top: 0.5rem;
    }
}
@media (min-width:381px) and (max-width:760px){
    
    .section-1 .title  {
        
    }
    .section-1 .title h1 {
        font-family: 'Barlow Condensed', sans-serif;
        font-size: 32px;
        font-weight: 600;
        margin-top: 0rem;
        line-height: 1;
        padding-top: 15%;
        
    }
    .section-1 .title h3 {

        font-family: 'Archivo Narrow', sans-serif;
        font-size: 20px;
        font-weight: 400;
        line-height: 1;
        padding: 0 0.7rem;
    }
}