.inicio-view {
    margin: 0; padding: 0;
    width: 100%; height: 100%;
    

}
.title {
    align-items: center;
    justify-content: center;
}

.section-1 {
    width: 100%; height: 100vh;
    display: flex;
    align-items: center;
}
.section-1 .img-container {
    width: 100%; height: 100%;
}
.section-1 .img-container img:nth-child(1n){
    position: relative;
    top: 35%;
    left: 55%;
}
.section-1 .img-container img:nth-child(2n){
    position: relative;
    top: 20%;
    left: -20%;
}
.section-1 .img-container img:nth-child(3n){
    position: relative;
    top: 10%;
    left: 10%;
}



.section-2 {
    width: 100%; height: 100%;
    padding: 3rem;
}
.section-2 .information-section{
    height: 100%;
    padding: 0 5rem 0 0;
    align-items: center;


}
.section-2 .information-section .item-section{
    margin-top: 3rem;
}

.section-2 .agenda-slider{
    height: 100%;
}
.section-2 .agenda-slider .agenda-title{
    
    margin-top: 3rem;
    
}
.section-2 .agenda-slider .agenda-items{
    
    margin-top: 1rem;
    
}