.inicio-view {
    margin: 0; padding: 0;
    width: 100%; height: 100%;
    

}
.title {
    align-items: center;
    justify-content: center;
}
.title h1 {
    font-size: 40px;
}
.title h3 {
    padding: 0.5rem 0 1rem 0;
    font-size: 22px;
    font-weight: 400;
}
.title .title-button-container {
    width: 100%;
    margin-top: 2rem;
}
.title .title-button-container a{
    padding: 1rem 2rem;
    width: 5rem; height: 3rem;
    margin: 0 0 0 1rem;
    border-radius: 0.2rem;
    color: azure;
    text-decoration: none;
    font-size: 20px;
    font-weight: 600;
    background-color:rgb(54, 160, 137);
    border: none;

}

.section-1 {
    width: 100%; height: 100vh;
    display: flex;
    align-items: center;
}
.section-1 .img-container {
    width: 100%; height: 100%;
    padding-right: 5rem;
}
.section-1 .img-container img{
    
    width: 20rem;
    -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
    filter: grayscale(40%);
    -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 4px 10px 30px 5px rgba(0,0,0,0.75);
    
}
.section-1 .img-container img:nth-child(1n){
    position: relative;
    top: 45%;
    left: 55%;
}
.section-1 .img-container img:nth-child(2n){
    width: 25rem;
    position: relative;
    top: -5%;
    left: 20%;
}
.section-1 .img-container img:nth-child(3n){
    position: relative;
    top: 0%;
    left: 10%;
}



.section-2 {
    width: 100%; height: 100%;
    padding: 5rem 3rem 0;
    margin-bottom: 5rem;
}
.section-2 .information-section{
    height: 100%;
    padding: 0 5rem 0 0;
    align-items: center;


}
.section-2 .information-section .item-section{
    margin-top: 3rem;
}

.section-2 .agenda-slider{
    height: 100%;
}
.section-2 .agenda-slider .agenda-title{
    
    margin-top: 3rem;
    
}
.section-2 .agenda-slider .agenda-items{
    
    margin-top: 1rem;
    
}